<<- define "hugo" >>

# build the hugo site.
build:
  @hugo --gc --minify --destination dist --logLevel debug

# serve the hugo site locally.
serve:
  @hugo server --disableFastRender --destination dist --logLevel debug

<<- $netlify := and .Config.Deployment (eq .Config.Deployment.Target "netlify") >>
<<- if $netlify >>

# serve the hugo site through netlify dev.
production:
  @netlify dev -c "just serve" --target-port 1313 --port 8888 --dir dist --framework hugo --context production
<<- else >>

# serve the built hugo site.
production: build
  @python3 -m http.server --directory dist
<<- end >>
<<- end >>
