{{- define "make" }}

Global commands can be listed with `make` or `make help`.

{{- if gt (len .Modules) 1 }}

Specific modules commands can be listed with `make <module-slug>-help`
and run with `make <module-slug>-<command>`,
or listed and run directly from within each module directory with `make` or `make help`.
{{- end }}
{{- end }}
