{{- define "make" }}

Global builds commands can be run with the following commands:
- `make lint`
- `make test`
- `make build`
{{- if .HasDocker }}
- `make docker`
{{- end }}

{{- if gt (len .Modules) 1 }}

Specific modules builds commands can be run with the following commands:
- From repository's root directory:
  - `make <module-slug>-lint`
  - `make <module-slug>-test`
  - `make <module-slug>-build`
{{- if .HasDocker }}
  - `make <module-slug>-docker`
{{- end }}
- Within each module directory:
  - `make lint`
  - `make test`
  - `make build`
{{- if .HasDocker }}
  - `make docker`
{{- end }}
{{- end }}
{{- end }}
