# {{ .VCS.ProjectName }} <!-- omit in toc -->

<div align="center">
{{- $style := "for-the-badge" }}
{{- $repo := print "https://" .VCS.ProjectHost "/" .VCS.ProjectPath }}

{{- if and .Config.GitHub .Config.GitHub.Release }}
  <a href="{{ $repo }}/releases">
    <img alt="GitHub Release" src="https://img.shields.io/github/v/release/{{ .VCS.ProjectPath }}?include_prereleases&sort=semver&style={{ $style }}">
  </a>
{{- end }}
{{- if eq .Config.Platform "github" }}
  <a href="{{ $repo }}/issues">
    <img alt="GitHub Issues" src="https://img.shields.io/github/issues-raw/{{ .VCS.ProjectPath }}?style={{ $style }}">
  </a>
{{- if .Config.License }}
  <a href="{{ $repo }}/blob/HEAD/LICENSE">
    <img alt="GitHub License" src="https://img.shields.io/github/license/{{ .VCS.ProjectPath }}?style={{ $style }}">
  </a>
{{- end }}
{{- end }}
{{- if .Config.GitHub }}
  <a href="{{ $repo }}/actions/workflows/integration.yml">
    <img alt="GitHub Actions" src="https://img.shields.io/github/actions/workflow/status/{{ .VCS.ProjectPath }}/integration.yml?style={{ $style }}">
  </a>
{{- end }}

{{- $url := toQuery (print "https://" .VCS.ProjectHost) }}
{{- if and .Config.GitLab .Config.GitLab.Release }}
  <a href="{{ $repo }}/-/releases">
    <img alt="GitLab Release" src="https://img.shields.io/gitlab/v/release/{{ toQuery .VCS.ProjectPath }}?gitlab_url={{ $url }}&include_prereleases&sort=semver&style={{ $style }}">
  </a>
{{- end }}
{{- if eq .Config.Platform "gitlab" }}
  <a href="{{ $repo }}/-/work_items">
    <img alt="GitLab Issues" src="https://img.shields.io/gitlab/issues/open/{{ toQuery .VCS.ProjectPath }}?gitlab_url={{ $url }}&style={{ $style }}">
  </a>
{{- if .Config.License }}
  <a href="{{ $repo }}/-/blob/HEAD/LICENSE">
    <img alt="GitLab License" src="https://img.shields.io/gitlab/license/{{ toQuery .VCS.ProjectPath }}?gitlab_url={{ $url }}&style={{ $style }}">
  </a>
{{- end }}
{{- end }}
{{- if .Config.GitLab }}
  <a href="{{ $repo }}/-/pipelines?ref=main">
    <img alt="GitLab CICD" src="https://img.shields.io/gitlab/pipeline-status/{{ toQuery .VCS.ProjectPath }}?gitlab_url={{ $url }}&branch=main&style={{ $style }}">
  </a>
{{- end }}

{{- if and .Config.GitHub (has "codecov" .Config.GitHub.Options) }}
  <a href="https://app.codecov.io/gh/{{ .VCS.ProjectPath }}">
    <img alt="Coverage" src="https://img.shields.io/codecov/c/github/{{ .VCS.ProjectPath }}?style={{ $style }}">
  </a>
{{- end }}
{{- if and .Config.GitLab (has "codecov" .Config.GitLab.Options) }}
  <a href="https://app.codecov.io/gl/{{ .VCS.ProjectPath }}">
    <img alt="Coverage" src="https://img.shields.io/codecov/c/gitlab/{{ .VCS.ProjectPath }}?style={{ $style }}">
  </a>
{{- end }}

{{- if or (and .Config.GitHub (has "sonarqube" .Config.GitHub.Options)) (and .Config.GitLab (has "sonarqube" .Config.GitLab.Options)) }}
  <a href="https://sonarcloud.io/summary/overall?id={{ .VCS.ProjectPath | replace "/" "_" }}">
    <img alt="Coverage" src="https://img.shields.io/sonar/coverage/{{ .VCS.ProjectPath | replace "/" "_" }}?server={{ toQuery "https://sonarsource.com" }}&style={{ $style }}">
  </a>
{{- end }}

{{- $root_go := false }}
{{- range .ModulesWith "go" }}{{- if eq .Dir "." }}{{ $root_go = true }}{{ end }}{{- end }}

{{- if $root_go }}
  <a href="{{ $repo }}/{{ if eq .Config.Platform "gitlab" }}-/{{ end }}blob/HEAD/go.mod">
    <img alt="Go Version" src="https://img.shields.io/{{ .Config.Platform }}/go-mod/go-version/{{ .VCS.ProjectPath }}?style={{ $style }}">
  </a>
{{- end }}

{{- range .ModulesWith "node" }}
{{- $node := get .Languages "node" }}
{{- if and (not $node.Private) (eq $node.PublishConfig.Registry "") }}
  <a href="https://www.npmjs.com/package/{{ $node.Name }}">
    <img alt="NPM Downloads" src="https://img.shields.io/npm/d18m/{{ toQuery $node.Name }}?style={{ $style }}">
  </a>
{{- end }}
{{- end }}

{{- if and .Config.GitHub (has "ossf-scorecard" .Config.GitHub.Options) }}
  <a href="https://scorecard.dev/viewer/?uri={{ print .VCS.ProjectHost "/" .VCS.ProjectPath }}">
    <img alt="OpenSSF Scorecard" src="https://img.shields.io/ossf-scorecard/{{ print .VCS.ProjectHost "/" .VCS.ProjectPath }}?label={{ toQuery "OpenSSF Scorecard" }}&style={{ $style }}">
  </a>
{{- end }}
{{- if .Config.HasPlumber }}
  <a href="https://score.getplumber.io/{{ .VCS.ProjectHost }}/{{ .VCS.ProjectPath }}">
    <img alt="Plumber Score" src="https://img.shields.io/endpoint?url={{ toQuery (print "https://score.getplumber.io/" .VCS.ProjectHost "/" .VCS.ProjectPath ".json") }}&style={{ $style }}">
  </a>
{{- end }}
</div>

---
