{{- if not .Content -}}
# {{ .VCS.ProjectName }} <!-- omit in toc -->

<div align="center">

{{ template "badges" . }}

</div>

---
{{ else -}}
{{- $parts := regexSplit "(?s)<!-- BEGIN_KICKR_BADGES -->.*?<!-- END_KICKR_BADGES -->" .Content 2 }}
{{- first $parts }}
{{- if eq (len $parts) 2 }}{{ template "badges" . }}{{ last $parts }}{{- end }}
{{- end -}}
