{{- define "golang" }}
{{- $specifics := get .Languages "go" }}

APP_VERSION ?= v0.0.0

.PHONY: test
test: ## run unit tests.
	@go test ./... -count 1 -timeout=30s

.PHONY: test-race
test-race: ## run unit tests with the race detector.
	@CGO_ENABLED=1 go test ./... -race -timeout=30s

.PHONY: test-cover
test-cover: ## run unit tests with coverage.
	@go test ./... -v -coverpkg="./..." -covermode="count" -timeout=30s

{{- $binaries := dict }}
{{- $_ := map $binaries .Clis .Crons .Jobs .Workers }}

{{- if eq .Binaries 1 }}
{{- $binary := "" }}
{{- range $name, $_ := $binaries }}{{ $binary = $name }}{{ end }}

.PHONY: build
build: ## build the {{ $binary }} binary.
	@CGO_ENABLED=0 go build \
		-ldflags "\
			-X '{{ $specifics.Module }}/internal/build.branch=$(shell git rev-parse --abbrev-ref HEAD)' \
			-X '{{ $specifics.Module }}/internal/build.commit=$(shell git rev-parse HEAD)' \
			-X '{{ $specifics.Module }}/internal/build.date=$(shell TZ="UTC" date '+%Y-%m-%dT%TZ')' \
			-X '{{ $specifics.Module }}/internal/build.version=${APP_VERSION}' \
		" \
		-o {{ $binary }} ./cmd/{{ $binary }}
{{- end }}

{{- if gt .Binaries 1 }}

.PHONY: buildall
buildall:{{ range $name, $_ := $binaries }} build-{{ $name }}{{ end }} ## build every binary.

.PHONY:{{ range $name, $_ := $binaries }} {{ $name }}{{ end }}
build-%: ## build a binary.
	@CGO_ENABLED=0 go build \
		-ldflags "\
			-X '{{ $specifics.Module }}/internal/build.branch=$(shell git rev-parse --abbrev-ref HEAD)' \
			-X '{{ $specifics.Module }}/internal/build.commit=$(shell git rev-parse HEAD)' \
			-X '{{ $specifics.Module }}/internal/build.date=$(shell TZ="UTC" date '+%Y-%m-%dT%TZ')' \
			-X '{{ $specifics.Module }}/internal/build.version=${APP_VERSION}' \
		" \
		-o $* ./cmd/$*

.PHONY:{{ range $name, $_ := $binaries }} {{ $name }}{{ end }}
local-%: ## run a binary locally.
	@go run ./cmd/$*
{{- end }}
{{- end }}
