{{- define "hugo" }}

{{- $websiteDirectory := "." }}
{{- if .Website }}{{- $websiteDirectory = .Website.Directory | default "." }}{{- end }}

{{- range get .Languages "hugo" }}
{{- $suffix := ne .Directory "." | ternary (print "-" .Directory) "" | replace "/" "-" }}

.PHONY: build{{ $suffix }}
build{{ $suffix }}:
	@hugo --gc --minify --destination dist --logLevel debug --source {{ .Directory }}

.PHONY: serve{{ $suffix }}
serve{{ $suffix }}:
	@hugo server --disableFastRender --destination dist --logLevel debug --source {{ .Directory }}

.PHONY: production{{ $suffix }}
{{- if and ($.IsHosting "netlify") (eq $websiteDirectory .Directory) }}
production{{ $suffix }}:
	@netlify dev -c "make serve{{ $suffix }}" \
		--target-port 1313 --port 8888
		--dir dist
		--framework hugo
		--context production
{{- else }}
production{{ $suffix }}: build{{ $suffix }}
	@python3 -m http.server --directory dist
{{- end }}
{{- end }}
{{- end }}
