{{- define "terraform" }}

{{- $engine := "opentofu" }}
{{- if and .Repository.Terraform .Repository.Terraform.Engine }}{{- $engine = .Repository.Terraform.Engine }}{{- end }}
{{- $cmd := eq $engine "opentofu" | ternary "tofu" "terraform" }}

fmt:
	@{{ $cmd }} fmt -diff -recursive

validate:
	@{{ $cmd }} validate

plan:
	@{{ $cmd }} plan

test:
	@{{ $cmd }} test
{{- end }}
