{{- define "terraform" }}

{{- $terraform_cmd := .Parent.Config.TerraformEngine }}

fmt:
	@{{ $terraform_cmd }} fmt -diff -recursive

validate:
	@{{ $terraform_cmd }} validate

plan:
	@{{ $terraform_cmd }} plan

test:
	@{{ $terraform_cmd }} test
{{- end }}
