{{- define "hugo" }}

APP_VERSION ?= v0.0.0

.PHONY: build
build: ## build the hugo site.
	@hugo --gc --minify --destination dist --logLevel debug

.PHONY: serve
serve: ## serve the hugo site locally.
	@hugo server --disableFastRender --destination dist --logLevel debug

{{- $netlify := and .Config.Deployment (eq .Config.Deployment.Target "netlify") }}

.PHONY: production
{{- if $netlify }}
production: ## serve the hugo site through netlify dev.
	@netlify dev -c "make serve" \
		--target-port 1313 --port 8888
		--dir dist
		--framework hugo
		--context production
{{- else }}
production: build ## serve the built hugo site.
	@python3 -m http.server --directory dist
{{- end }}
{{- end }}
