jobs:
<<- define "hugo" >>

<<- $websiteDirectory := "." >>
<<- if .Website >><<- $websiteDirectory = .Website.Directory | default "." >><<- end >>

  hugo-build:
    name: Hugo Build ${{ matrix.name }}
    runs-on: ubuntu-latest
    needs: version
    strategy:
      fail-fast: false
      matrix:
        include:
<<- range get .Languages "hugo" >>
<<- $artifact := "build" >>
<<- if ne .Directory "." >><<- $artifact = print $artifact "-" .Directory >><<- end >>
<<- if and ($.IsHosting "pages") (eq $websiteDirectory .Directory) >><<- $artifact = print $artifact "-pages" >><<- end >>
          - artifact: << $artifact >>
            directory: << .Directory >>
<<- if ne .Directory "." >>
            name: << printf "(%s)" .Directory >>
<<- end >>
<<- end >>
    defaults:
      run:
        working-directory: ${{ matrix.directory }}
    steps:
<<- if has "harden-runner" .CI.Options >>
      # https://docs.stepsecurity.io/harden-runner/workflow-runs
      # https://github.com/marketplace/actions/harden-runner
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo-and-containers: true
          egress-policy: audit
<<- end >>
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0 # fetch all history for .GitInfo and .Lastmod
          submodules: true # fetch Hugo themes
      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          # renovate: datasource=github-tags packageName=jdx/mise depName=mise
          version: v2026.1.6
          install: false
          cache: true
      - run: |-
          # renovate: datasource=golang-version packageName=golang/go depName=golang
          - mise use -g golang@1.25.5
          # renovate: datasource=github-tags packageName=gohugoio/hugo depName=hugo
          - mise use -g hugo-extended@0.153.2
          # renovate: datasource=github-tags packageName=sass/dart-sass depName=dart-sass
          - mise use -g github:sass/dart-sass@1.97.2
      - run: hugo --gc --enableGitInfo --minify --destination dist --logLevel "$LOG_LEVEL"
        env:
          LOG_LEVEL: ${{ vars.HUGO_LOG_LEVEL || 'info' }}
          VERSION: ${{ needs.version.outputs.version }}
      - if: ${{ endsWith(matrix.artifact, '-pages') }}
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          name: ${{ matrix.artifact }}
          path: ${{ matrix.directory }}/dist
          retention-days: 1
      - if: ${{ !endsWith(matrix.artifact, '-pages') }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: ${{ matrix.artifact }}
          path: ${{ matrix.directory }}/dist
          retention-days: 1
<<- end >>
