jobs:
<<- define "hugo" >>
<<- $nodes := get .Languages "hugo" >>

<<- $websiteDirectory := "." >>
<<- if .CI.Website >><<- $websiteDirectory = .CI.Website.Directory | default "." >><<- end >>

  hugo-build:
    name: Hugo Build ${{ matrix.name }}
    runs-on: ubuntu-latest
    needs: version
    strategy:
      fail-fast: false
      matrix:
        include:
<<- range $nodes >>
<<- $artifact := "build" >>
<<- if ne .Directory "." >><<- $artifact = print $artifact "-" .Directory >><<- end >>
<<- if and ($.IsHosting "pages") (eq $websiteDirectory .Directory) >><<- $artifact = print $artifact "-pages" >><<- end >>
          - artifact: << $artifact >>
            directory: << .Directory >>
<<- if ne .Directory "." >>
            name: << printf "(%s)" .Directory >>
<<- end >>
<<- end >>
    defaults:
      run:
        working-directory: ${{ matrix.directory }}
    steps:
<<- if has "harden-runner" .CI.Options >>
      # https://docs.stepsecurity.io/harden-runner/workflow-runs
      # https://github.com/marketplace/actions/harden-runner
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo-and-containers: true
          egress-policy: audit
<<- end >>
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0 # fetch all history for .GitInfo and .Lastmod
          submodules: true # fetch Hugo themes
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ github.workspace }}/.hugo_cache
          key: hugomod
          restore-keys: |
            hugomod
<<- if has "step-security-actions" .CI.Options >>
      # https://app.stepsecurity.io/github-action-advisor/step-security/actions-hugo
      - uses: step-security/actions-hugo@0ef63c546504c9fb32b29aa7eedc73d9558f7382 # v3.0.2
<<- else >>
      # https://github.com/marketplace/actions/hugo-setup
      - uses: peaceiris/actions-hugo@75d2e84710de30f6ff7268e08f310b60ef14033f # v3.0.0
<<- end >>
        with:
          hugo-version: latest
          extended: true
      - run: hugo --gc --enableGitInfo --minify --destination dist --logLevel "$LOG_LEVEL"
        env:
          LOG_LEVEL: ${{ vars.HUGO_LOG_LEVEL || 'info' }}
          VERSION: ${{ needs.version.outputs.version }}
      - if: ${{ endsWith(matrix.artifact, '-pages') }}
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          name: ${{ matrix.artifact }}
          path: ${{ matrix.directory }}/dist
          retention-days: 1
      - if: ${{ !endsWith(matrix.artifact, '-pages') }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: ${{ matrix.artifact }}
          path: ${{ matrix.directory }}/dist
          retention-days: 1
<<- end >>
