jobs:
<<- define "terraform" >>

<<- $engine := "opentofu" >>
<<- if and .Terraform .Terraform.Engine >><<- $engine = .Terraform.Engine >><<- end >>
<<- $cmd := eq $engine "opentofu" | ternary "tofu" "terraform" >>

<<- $nodes := get .Languages "terraform" >>

  terraform-apply:
    name: Terraform Apply ${{ matrix.name }}
    runs-on: ubuntu-latest
    if: ${{ inputs.<< $engine >>_apply != 'none' }}
    needs: version
    strategy:
      fail-fast: false
      matrix:
        include:
<<- range $nodes >>
          - directory: << .Directory >>
<<- if ne .Directory "." >>
            name: << printf "(%s)" .Directory >>
<<- end >>
<<- end >>
    defaults:
      run:
        working-directory: ${{ matrix.directory }}
    steps:
<<- if has "harden-runner" .CI.Options >>
      # https://docs.stepsecurity.io/harden-runner/workflow-runs
      # https://github.com/marketplace/actions/harden-runner
      - uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          disable-sudo-and-containers: true
          egress-policy: audit
<<- end >>
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
<<- if eq $engine "terraform" >>
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          # renovate: datasource=github-tags packageName=hashicorp/terraform depName=terraform
          terraform_version: 1.13.3
<<- else >>
      - uses: opentofu/setup-opentofu@000eeb8522f0572907c393e8151076c205fdba1b # v1.0.6
        with:
          # renovate: datasource=github-tags packageName=opentofu/opentofu depName=opentofu
          tofu_version: 1.10.6
<<- end >>
      - run: |-
          << $cmd >> init
          << $cmd >> apply -no-color -auto-approve
<<- if gt (len .Specifics.Variables) 0 >>
        env:
<<- range $name, $var := .Specifics.Variables >>
<<- $source := $var.Sensitive | ternary "secrets" "vars" >>
          TF_VAR_<< $name >>: ${{ << $source >>.<< upper $name >> }}
<<- end >>
<<- end >>
<<- end >>
