jobs:
<<- define "golang" >>
<<- $specifics := get .Languages "go" >>

  go-vulncheck:
    name: Go Vulnerability Check
    runs-on: ubuntu-latest
    if: ${{ needs.run-workflow.outputs.skip == 'false' }}
    needs: run-workflow
    steps:
<<- if has "harden-runner" .GitHub.Options >>
      # https://docs.stepsecurity.io/harden-runner/workflow-runs
      # https://github.com/marketplace/actions/harden-runner
      - uses: step-security/harden-runner@9af89fc71515a100421586dfdb3dc9c984fbf411 # v2.19.4
        with:
          disable-sudo-and-containers: true
          egress-policy: audit
<<- end >>
      - uses: golang/govulncheck-action@b625fbe08f3bccbe446d94fbf87fcc875a4f50ee # v1.0.4
        with:
          check-latest: true
          go-package: ./...
          go-version-input: '<< $specifics.Toolchain | default $specifics.Go >>'

  go-lint:
    name: Go Lint
    runs-on: ubuntu-latest
    if: ${{ needs.run-workflow.outputs.skip == 'false' }}
    needs: run-workflow
    permissions:
      pull-requests: write
      security-events: write
    steps:
<<- if has "harden-runner" .GitHub.Options >>
      # https://docs.stepsecurity.io/harden-runner/workflow-runs
      # https://github.com/marketplace/actions/harden-runner
      - uses: step-security/harden-runner@9af89fc71515a100421586dfdb3dc9c984fbf411 # v2.19.4
        with:
          disable-sudo-and-containers: true
          egress-policy: audit
<<- end >>
      - uses: actions/checkout@9c091bb21b7c1c1d1991bb908d89e4e9dddfe3e0 # v7
      - uses: actions/setup-go@4a3601121dd01d1626a1e23e37211e3254c1c06c # v6.4.0
        with:
          check-latest: true
          go-version: '<< $specifics.Toolchain | default $specifics.Go >>'
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: mkdir -p reports/
      - uses: golangci/golangci-lint-action@82606bf257cbaff209d206a39f5134f0cfbfd2ee # v9.2.1
        with:
          args: --config=.golangci.yml --timeout=300s --allow-parallel-runners --output.sarif.path="reports/golangci-lint.sarif" --output.text.path=stdout
          problem-matchers: true
          # renovate: datasource=github-tags packageName=golangci/golangci-lint depName=golangci-lint
          version: v2.12.2
      - if: ${{ !cancelled() }}
        uses: github/codeql-action/upload-sarif@8aad20d150bbac5944a9f9d289da16a4b0d87c1e # v4.36.2
        with:
          sarif_file: reports/golangci-lint.sarif
          category: golangci-lint
<<- if has "sonarqube" .GitHub.Options >>
      - uses: actions/upload-artifact@043fb46d1a93c77aae656e7c1c64a875d1fc6a0a # v7.0.1
        with:
          name: lint
          path: reports
          retention-days: 1
<<- end >>

  go-test:
    name: Go Test
    runs-on: ${{ matrix.os }}
    needs: go-lint
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    steps:
<<- if has "harden-runner" .GitHub.Options >>
      # https://docs.stepsecurity.io/harden-runner/workflow-runs
      # https://github.com/marketplace/actions/harden-runner
      - uses: step-security/harden-runner@9af89fc71515a100421586dfdb3dc9c984fbf411 # v2.19.4
        with:
          disable-sudo-and-containers: true
          egress-policy: audit
<<- end >>
      - uses: actions/checkout@9c091bb21b7c1c1d1991bb908d89e4e9dddfe3e0 # v7
      - uses: actions/setup-go@4a3601121dd01d1626a1e23e37211e3254c1c06c # v6.4.0
        with:
          check-latest: true
          go-version: '<< $specifics.Toolchain | default $specifics.Go >>'
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: mkdir -p reports/
      - if: ${{ matrix.os != 'windows-latest' }}
        shell: bash
        run: go test ./... -v -coverpkg="./..." -covermode="count" -coverprofile="reports/go-coverage.native.out" -timeout=30s | tee "reports/tests.log"
      - if: ${{ matrix.os == 'windows-latest' }}
        run: go test ./... -v -coverpkg="./..." -covermode="count" -coverprofile="reports/go-coverage.native.out" -timeout=30s | tee "reports/tests.log"
      - shell: bash
        run: |-
          go run github.com/jstemmer/go-junit-report/v2@latest -in "reports/tests.log" -out "reports/go-test.xunit.xml"
          go tool test2json < "reports/tests.log" > "reports/go-test.native.json"
<<- if has "codecov" .GitHub.Options >>
      - uses: codecov/test-results-action@0fa95f0e1eeaafde2c782583b36b28ad0d8c77d3 # v1.2.1
        with:
          codecov_yml_path: .codecov.yml
          disable_search: true
          env_vars: OS
          fail_ci_if_error: false
          files: reports/go-test.xunit.xml
          flags: ${{ matrix.os }}
          slug: ${{ github.repository }}
          token: ${{ secrets.CODECOV_TOKEN }}
        env:
          OS: ${{ matrix.os }}
      - uses: codecov/codecov-action@fb8b3582c8e4def4969c97caa2f19720cb33a72f # v7
        with:
          codecov_yml_path: .codecov.yml
          disable_search: true
          env_vars: OS
          fail_ci_if_error: false
          files: reports/go-coverage.native.out
          flags: ${{ matrix.os }}
          slug: ${{ github.repository }}
          token: ${{ secrets.CODECOV_TOKEN }}
        env:
          OS: ${{ matrix.os }}
<<- end >>
<<- if has "sonarqube" .GitHub.Options >>
      - uses: actions/upload-artifact@043fb46d1a93c77aae656e7c1c64a875d1fc6a0a # v7.0.1
        with:
          name: coverage
          path: reports
          retention-days: 1
<<- end >>
<<- end >>
