@semantic-release/changelog
@semantic-release/commit-analyzer
@semantic-release/exec
@semantic-release/git
@semantic-release/gitlab
@semantic-release/release-notes-generator
conventional-changelog-conventionalcommits

{{- if hasKey .Languages "node" }}
@semantic-release/npm
{{- end }}

{{- if and .License (list "bsl-1.0" "mit" | has .License) }}
semantic-release-license
{{- end }}

{{- if has "backmerge" .CI.Release.Options }}
@kilianpaquier/semantic-release-backmerge
{{- end }}
